---
name: "tagged-release"

on:
  push:
    tags:
      - "v*"

permissions:
  contents: write
  
jobs:
  tagged-release:
    runs-on: windows-latest
    steps:
      - name: Install Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.22.x
          
      - name: Checkout code
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
          
      - uses: actions/setup-node@v4
        with:
          node-version: 18
          
      - uses: actions/cache@v2
        with:
          path: |
            %LocalAppData%\go-build
            ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
          
      - name: Build
        run: cd companion && go generate ./... && go build -ldflags -H=windowsgui -o ../companion.exe ./cmd/companion
        
        
      - uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ secrets.GITHUB_TOKEN }}"
          prerelease: false
          files: |
            companion.exe